Source: ros-kinetic-xbot-driver
Section: misc
Priority: extra
Maintainer: Daniel Stonier <stonier@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-ecl-build, ros-kinetic-ecl-command-line, ros-kinetic-ecl-converters, ros-kinetic-ecl-devices, ros-kinetic-ecl-geometry, ros-kinetic-ecl-mobile-robot, ros-kinetic-ecl-sigslots, ros-kinetic-ecl-time
Homepage: http://ros.org/wiki/xbot_driver
Standards-Version: 3.9.2

Package: ros-kinetic-xbot-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-ecl-command-line, ros-kinetic-ecl-converters, ros-kinetic-ecl-devices, ros-kinetic-ecl-geometry, ros-kinetic-ecl-mobile-robot, ros-kinetic-ecl-sigslots, ros-kinetic-ecl-time
Description: C++ driver library for xbot: Pure C++ driver library for xbot.
 This is for those who do not wish to use ROS on their systems.
