Source: ros-kinetic-xbot-description
Section: misc
Priority: extra
Maintainer: Chai Changkun <chaichangkun@163.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-gazebo-ros, ros-kinetic-message-generation, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-controller-manager
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-xbot-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-controller-manager, ros-kinetic-effort-controllers, ros-kinetic-gazebo-plugins, ros-kinetic-gazebo-ros, ros-kinetic-gazebo-ros-control, ros-kinetic-joint-state-controller, ros-kinetic-joint-state-publisher, ros-kinetic-message-runtime, ros-kinetic-robot-state-publisher, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-urdf, ros-kinetic-xacro
Description: URDF for xbot Robot.
