Source: ros-kinetic-xbot-safety-controller
Section: misc
Priority: extra
Maintainer: Marcus Liebhardt <marcus.liebhardt@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-ecl-threads, ros-kinetic-geometry-msgs, ros-kinetic-nodelet, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-std-msgs, ros-kinetic-yocs-controllers, ros-kinetic-xbot-msgs
Homepage: http://ros.org/wiki/xbot_safety_controller
Standards-Version: 3.9.2

Package: ros-kinetic-xbot-safety-controller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-ecl-threads, ros-kinetic-geometry-msgs, ros-kinetic-nodelet, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-std-msgs, ros-kinetic-yocs-controllers, ros-kinetic-xbot-msgs
Description: A controller ensuring the safe operation of Xbot.
 The SafetyController keeps track of bumper, cliff and wheel drop events. In case of the first two, Xbot is commanded to move back. In the latter case, Xbot is stopped. This controller can be enabled/disabled. The safety states (bumper pressed etc.) can be reset. WARNING: Dangerous!
