Source: ros-kinetic-xbot-node
Section: misc
Priority: extra
Maintainer: Daniel Stonier <stonier@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-angles, ros-kinetic-catkin, ros-kinetic-diagnostic-msgs, ros-kinetic-diagnostic-updater, ros-kinetic-ecl, ros-kinetic-ecl-exceptions, ros-kinetic-ecl-sigslots, ros-kinetic-ecl-streams, ros-kinetic-ecl-threads, ros-kinetic-geometry-msgs, ros-kinetic-nav-msgs, ros-kinetic-nodelet, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf, ros-kinetic-xbot-msgs, ros-kinetic-xbot-safety-controller, ros-kinetic-xbot-driver, ros-kinetic-xbot-talker
Homepage: http://ros.org/wiki/xbot_node
Standards-Version: 3.9.2

Package: ros-kinetic-xbot-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-angles, ros-kinetic-capabilities, ros-kinetic-diagnostic-aggregator, ros-kinetic-diagnostic-msgs, ros-kinetic-diagnostic-updater, ros-kinetic-ecl, ros-kinetic-ecl-exceptions, ros-kinetic-ecl-sigslots, ros-kinetic-ecl-streams, ros-kinetic-ecl-threads, ros-kinetic-geometry-msgs, ros-kinetic-nav-msgs, ros-kinetic-nodelet, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-tf, ros-kinetic-xbot-msgs, ros-kinetic-xbot-safety-controller, ros-kinetic-xbot-driver
Description: ROS nodelet for Xbot: ROS wrapper for the Xbot driver.
