Source: ros-kinetic-xbot-msgs
Section: misc
Priority: extra
Maintainer: Roc Wang <yowlings@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib-msgs, ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-std-msgs
Homepage: http://ros.org/wiki/xbot_msgs
Standards-Version: 3.9.2

Package: ros-kinetic-xbot-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib-msgs, ros-kinetic-message-runtime, ros-kinetic-std-msgs
Description: Xbot message and service types: custom messages and services for Xbot packages.
